helm upgrade --install prometheus prometheus-community/kube-prometheus-stack \
     -n monitoring --values values.prom.kube.stack.yml \
    --set "logLevel=debug" \
    --set "prometheus.prometheusSpec.remoteWrite[0].url=https://remote.example.com/api/v1/write" \
    --set "prometheus.extraSecret.data.username=prom" \
    --set "prometheus.extraSecret.data.password=prom" \
    --set "grafana.grafanaIni.server.domain=example.com" \
    --set "grafana.ingress.tls[0].hosts[0]=example.com" \
    --set "grafana.ingress.tls[0].secretName=" \ 
    --set "grafana.adminUser=admin" \
    --set "grafana.adminPassword=admin" \

# secretName is empty for whild card